.IssueList {
  flex: 3;
  background-color: #f1f0ea;
  overflow: scroll;
  position: relative;
  .createSheet {
    position: fixed;
    bottom: 20px;
    right: 25px;
  }
  td {
    padding: 8px;
  }

  tr {
    border-bottom: 1px solid;
  }
}
