.IssueList {
  flex: 3;
  background-color: #fff;
  overflow: scroll;
  position: relative;
  table {
    border-collapse: collapse;
    * {
      border: none;
    }
  }
  tr.odd {
    background-color: #f1f0ea;
  }
  .createSheet {
    position: fixed;
    bottom: 20px;
    right: 25px;
  }
  td {
    padding: 8px;
  }
}
