.Repos {
  flex: 1;
  background-color: #0013BE;
  overflow-x:hidden ;
  button {
    svg.octicon {
      margin-right: 0.7rem;
    }
    background-color: transparent;
    border: navajowhite;
    color: white;
    font-family: "Righteous", cursive;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    padding: 0.5rem 5px;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
    &:hover {
      background-color: white;
      color: black;
    }
  }
  h3 {
    color: #f1f0ea;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    width:100%;
  }
  
  li {
    color: #f1f0ea;
    font-family: "Playfair Display SC", serif;
    &.logout {
      border-top: 2px solid grey;
    }
  }
}
