.Repos {
  flex: 1;
  background-color: #474448;
  h3 {
    color:#f1f0ea;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 10px;
  }

  li {
    padding: 0.5rem;
    color:#f1f0ea;
    font-family: 'Righteous', cursive;
  }
}
