@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&family=Righteous&display=swap");
@import "./utils/include-media.scss";
@import "./components/Header/Header.scss";
@import "./components/Repo/Repo.scss";
@import "./components/Issues/Issues.scss";

.App {
  h3 {
    text-align: center;
    font-family: "Righteous", cursive;
    font-size: 2rem;
  }

  .main {
    display: flex;
    flex-direction: row;
    @include media("<tablet") {
      flex-direction: column;
    }
    height: 95vh;
  }
  .footer {
    height: 5vh;
    background-color: #666;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 0.5rem;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .repo_not_selected {
    height: 95vh;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    flex-direction: column;
    justify-content: center;
    img.point_left {
      display: none;
    }
    img.point_up {
      display: flex;
    }
    @include media(">=tablet") {
      img.point_left {
        display: flex;
      }
      img.point_up {
        display: none;
      }
    }

    p {
      font-size: 2rem;
    }
  }
  #Header,
  .IssueList {
    button {
      background-color: #2d232e;
      padding: 0.5rem 1rem;
      color: #f1f0ea;
      border: 2px solid #534b52;
    }

    button:hover {
      background-color: #534b52;
      border: 2px solid #2d232e;
    }
  }
}
.not_logged_in {
  background-color: #00000044;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.modal {
  background-color: white;
  border-radius: 26px;
  display: grid;
  grid-template-areas: "chevron" "login" "button";
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr;
  width: 100%;
  min-width: 200px;
  img {
    width: 80%;
  }
  @include media(">=tablet") {
    grid-template-areas:
      "chevron login"
      "chevron button";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 600px;
    width: 65vw;
  }
  height: 30vh;
  min-height: 400px;
  .chevron {
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 49%, 0% 0%);

    @include media(">tablet") {
      clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 0% 0%);
    }
    background-color: blue;
    grid-area: chevron;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
  }

  p {
    grid-area: login;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
  }

  .button {
    grid-area: button;
    text-align: center;

    button {
      background: blue;
      color: white;
      font-size: 2rem;
      padding: 1rem 2rem;
      border: none;
      border-radius: 10px;
    }
  }
}
